#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#home_page{
  background-image: asset-url('jumbo-copy.jpg');
  background-size: cover;
  background-position: center center ;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 5px !important;
}
 .jumbotron .display-4{
    padding-top: 100px !important;
}
/* Sticky Footer Classes */

html,
body {
  height: 100%;


}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
.form_btn{
  width:20% !important;
  margin: auto !important;
  margin-top: 10px !important;
}
.button_to{
  display: inline-block !important;
}
