<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "www.alphp-blog.com.pk","http://127.0.0.1:3000/",class:"text-white"%></small>
    </div>
  </footer>